# Gemini
GEMINI_API_KEY=your_gemini_api_key_here

# Local Docker database
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/cv_screening
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
